<!DOCTYPE html>
<html>
  <title>Login</title>
  <style>
    h1 {
      color: orange;
    }
  </style>
  <body>
    <%- include('common/Header') %>
    <h3>Enter Username:</h3>
    <h3>Enter Password:</h3>

    <%- include('common/Footer') %>
  </body>
</html>
