<!DOCTYPE html>
<html>
  <title>User Profile</title>
  <style>
    h1 {
      color: orange;
    }
  </style>
  <body>
    <h1>Welcome, <%= user.name %></h1>
    <h3>Name: <%= user.name %></h3>
    <h3>Email: <%= user.email %></h3>
  </body>
</html>
